@model For_IT_TRENDS.Domain.Entities.City;

<form method="post" asp-action="Create" asp-controller="Home">
    <div>
        <div>
            <label asp-for="Title"></label>
            <input type="text" name="Title" />
        </div>
        <div>
            <input type="submit" value="Save" />
        </div>
    </div>
</form>