<!DOCTYPE html>
<html>
<head>
   @await Html.PartialAsync("HeadPartial")
   <title>@ViewBag.Title</title>
</head>
<body>
	

<div style="background-color: #FFEFD5"> 
	@RenderBody()
</div>

</body>
</html>
